@import 'css/gruvbox.scss';

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.background {
  font-size: 14px;
  font-family: Inter, FantasqueSansM Nerd Font Propo;
  font-feature-settings: "tnum";
  transition: 200ms ease-out;
}

.bar-widget.bar {
  padding: 4px 8px 0 8px;
}

@mixin widget {
  color: $fg;
  background-color: $bg0;
  border: solid 2px $border;
  border-radius: 10px;
}

.clock-widget {
  @include widget;
  padding: 4px 16px;
}

.right-widget {
  @include widget;
  font-weight: 500;
  padding: 4px 16px;
}

.volume {
  padding: 0 56px 0 0;

  .volume-osd-icon {
    @include widget;
    padding: 2px;
  }

  .volume-osd {
    &.muted .volume-progress trough {
      background: mix($bg_dim, $aqua, 95%)
    }

    .volume-progress {
      trough {
        background: $bg_dim;
        border: solid 2px $border;
        min-width: 8px;
        border-radius: 5px;

        progress {
          background-color: $aqua;
          border-radius: 3px;
          min-width: 8px;
        }
      }
    }
  }
}

.tooltip {
  background: $bg_dim;
  border-radius: 6px;
  border: solid 1px $border;
  color: $fg;
  padding: 5px 8px;
}

.network {
  transition: color 1s ease-in-out;
}

.vpn-label {
  color: $aqua;
  font-size: 7px;
  font-weight: 900;
  margin-left: -18px;
  margin-bottom: -2px;
  background: $bg0;
}

.indicator-icon {
  font-size: 16px;
}

.info_label {
  font-size: 13px;
}

.temp-widget {
  transition: color 3s ease-in-out;


  &.critical {
    color: $red;
  }

  &.warning {
    color: $orange;
  }

  &.hot {
    color: $yellow;
  }
}

.workspaces-widget {
  @include widget;
  padding: 0 16px;

  .workspace-entry-container {

    &:hover .workspace-entry {
      background-color: rgba($color: $aqua, $alpha: 0.1);
    }

    .workspace-entry {
      padding: 3px 4px;
      border-top: solid 2px transparent;
      color: $fg;

      &.empty {
        color: rgba($color: $fg, $alpha: .4);
      }

      &.current {
        border-top: solid 2px $aqua;
        font-weight: 800;
      }
    }
  }
}
