@define-color foreground    #DDC7A1;
@define-color background    #141617;
@define-color background_darker    #141617;
@define-color selected      #89B482;
@define-color hover         alpha(@selected, .4);
@define-color urgent        #EA6962;

* {
  all: unset;
  font-size: 14px;
  font-family: "OpenSans";
  transition: 200ms;

  color: @foreground;
}
